body, ul, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color: cornsilk;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin-left: 10px;
    padding-left: 180px;
}

.menu a:hover{
    color: #323232;
}

header{
    background-color: rgb(111, 8, 207);
    padding: 5px;
}

.sobre{
    margin-top: 10px;
}

.sobre img{
    float: left;
    margin-right: 10px;
    width: 180px;
}

.sobre .titulo{
    font-weight: 700;
}

body{
    background-image: url(imgs/thumb-1920-357824.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body a {
    color: white;
}

body a:hover {
    color: rgb(111, 8, 207);
}

.introducao h1{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(111, 8, 207);
    text-decoration: underline;
}

.introducao{
    margin-left: 10px;
}

.introducao .titulo{
    text-decoration: underline;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(111, 8, 207);
    text-decoration: underline;
}

.introducao .text{
    justify-content: flex-end;
    color: white;
}

#inst{
    width: 50px;
    height: 50px;
}

.projetos{
    margin-left: 10px;
    color: white;
}

.projetos iframe{
    float: left;
    margin-right: 10px;
}

.projetos_arduino #arduino{
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.projetos_arduino{
    margin-left: 10px;
    color: white;
}

.extra{
    color: white;
    margin-left: 15px;
}

.projetos_semestre p{
    color: white;
    margin-bottom: 10px;
}

.projetos_semestre{
    margin-top: 15px;
    margin-left: 15px;
}
